root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 200

[*.md]
trim_trailing_whitespace = false

[*.{kt, kts}]
# Never use star imports
ij_kotlin_name_count_to_use_star_import = 99
ij_kotlin_name_count_to_use_star_import_for_members = 99

[*.java]
# Never use star imports
ij_java_names_count_to_use_import_on_demand = 99
ij_java_class_count_to_use_import_on_demand = 99
ij_java_layout_static_imports_separately = true

[*.{yml, yaml}]
indent_size = 2
ij_yaml_keep_indents_on_empty_lines = false
